# Phrase preperation for study 2
## Introduction
This script is used to Prepare phrase pairs for review as part of study 2.

In [4]:
import pandas as pd

In [20]:
d = pd.read_csv("results.csv")

In [22]:
d.head()

              l1             l2
0  test phrase a  test phrase b
1            son            son
2         dotter         dotter
3         mother            mor
4         father            far

In [12]:
d.rename(columns={"l1": "English Phrase", "l2": "Swedish Phrase"}, inplace=True)

In [14]:
d["The Swedish Phrase sounds natural (e.g. the phrase could have been produced by a native speaker). (1-5)"] = ""

In [17]:
d["The Swedish phrase is an accurate translation of the English phrase. (1-5)"] = ""

In [18]:
d.head()

,English Phrase,Swedish Phrase,The Swedish Phrase sounds natural (e.g. the phrase could have been produced by a native speaker). (1-5),The Swedish phrase is an accurate translation of the English phrase. (1-5)
0,test phrase a,test phrase b,,
1,son,son,,
2,dotter,dotter,,
3,mother,mor,,
4,father,far,,

In [19]:
d.to_csv("phrases_for_review.csv", index=False)